*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
}
main{
    display: flex;
    justify-content: center;
    background-color: rgb(24, 82, 183);
    border-radius: 15px;
    width: min(90%,600px);
    height: 400px;
   
}

section{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
}
section img{
    border: 2px  rgb(176, 176, 27);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
}

article{
    padding: 1px 30px ;
    background-color: rgb(238, 238, 238);
    border-radius: 0px 12px 12px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    font-size: 1rem;
    padding-top: 50px;
    
}
.name p:nth-child(1){
    font-size: 28px;
}
.name p:nth-child(2){
    font-size: 18px;
}
 

article button{
    height: 50px;
    width: 150px;
    margin: 4px auto;
    font-size: 1.1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: none;
    border-radius: 15px;
    background-color: rgb(24, 82, 183);
    color: rgb(238, 238, 238);
    transition: all .3s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.links{
    display: flex;
    margin: 1px auto;
    gap: 40px; 
    

}

article button:hover{

    background-color: rgb(238, 238, 238);
    color: rgb(0, 0, 0);
    border: 1px solid black;
    box-sizing: border-box;
}
i{
    font-size: 22px;
    color: #000;
    transition: all .2s;
}
i:hover{
    font-size: 22px;
    color: rgb(24, 82, 183);
}

@media screen and (max-width:550px) {
    main{
        flex-direction: column;
        justify-content: center;

    }
    section{
        justify-content: start;
        width: 100%;
    }
    section img{
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
        border: 1px solid transparent;
        
    }
    article{
        border-radius: 0px 0px 12px 12px;
    }
    article button{
        margin-bottom: 20px;
    }
}
@media screen and (max-width:400px) {
    
    section{
        justify-content: center;
        width: 100%;
        
        margin: 0px;
        padding: 0px;
    }
    section img{
        margin-bottom: 15px;
    }
    
}

